<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Curso Ana Nery</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="curso, capacitação,enfermagem" name="busca">
  <meta content="Curso Ana Nery " name="description">
  <meta name="keywords" content="curso,enfermagem,idosos,injetáveis,cuidador,sondas,primeiro socorros,ferídas,vesical">

  <!-- Favicon -->
  <link href="img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bibliotecas CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
  HD3 Desenvolvimento
  ======================================================= -->
</head>

<body>
    <div id="area_aluno">
     <address class="topo-address">
      <div class="container">
       <div class="pull-left">
        <span><i class="fa fa-phone"></i> 85 985071080 </span>
        <span><i class="fa fa-map-marker"></i> Rua Solon Pinheiro, 1580 –  José Bonifácio – Fortaleza-CE. </span>
        <span><a href="#" target="_blank"><i class="fa fa-university"></i> Acesso ao portal <strong>EAD</strong></a></span>
       </div>
       <div class="pull-right">
       <span><i class="fa fa-user"></i> Olá visitante,<a href="https://www.datacenter.emp.br/cadastro">registre-se</a> ou faça seu <a href="#modal-login" data-toggle="modal">login</a></span>
       </div>
      </div>
     </address>
  </div>
  <!--==========================
    Header
  ============================-->
  <header id="header">

    <div class="container-fluid section-header">
      <div id="logo" class="pull-left">
        <h1><a href="#intro"><img src="img/logo.png" width="331" Height="120" alt="" title="" /></a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">Quem Somos</a></li>
          <li class="menu-has-children"><a href="#services">Cursos</a>
            <ul>
              <li><a href="cuidador.html">CUIDADOR DE IDOSOS</a></li>
              <li><a href="pratica_injetaveis.html">PRÁTICA DE INJETÁVEIS</a></li>
              <li><a href="#">TRATAMENTO DE FERIDAS E CURATIVOS</a></li>
              <li><a href="#">CAPACITAÇÃO EM SERVIÇO DE VACINAÇÃO EM FARMÁCIAS<br><h5>(Aulas teóricas e práticas)</h5></a></li>
              <li><a href="#">CÁLCULO DE MEDICAMENTOS</a></li>
              <li><a href="#">MANEJO DE SONDAS - NASOGÁSTRICA E VESICAL</a></li>
              <li><a href="#">PRIMEIROS SOCORROS IN COMPANY</a></li>
            </ul>
          </li>
          <li><a href="#call-to-action">Localização</a></li>
          <li><a href="#portfolio">Galeria</a></li>
          <li><a href="#contact">Fale conosco</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <!--==========================
    pagina Home
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#featured-services" class="btn-get-started scrollto">Inscreva-se Aqui</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#featured-services" class="btn-get-started scrollto">Inscreva-se Aqui</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#featured-services" class="btn-get-started scrollto">Inscreva-se Aqui</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#featured-services" class="btn-get-started scrollto">Inscreva-se Aqui</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <a href="#featured-services" class="btn-get-started scrollto">Inscreva-se Aqui</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
     </div>
  </section><!-- home -->

  <main id="main">

    <!--==========================
      Agenda
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-calendar"></i>
            <h4 class="title"><a href="https://docs.google.com/forms/d/e/1FAIpQLSevKPRI8vRU4YIW9VgOHke8NfQt_shnHj3pKqh0LD8mgPFWUw/viewform?usp=pp_url" target="_blank">Cuidador de idoso</a></h4>
            <p class="description">
                Turmas: 26 (TARDE / NOITE)<br>
                Carga horária: 100 horas<br>
                Turma: Durante a Semana<br>
                Encontros:Terça e Quinta-feira<br>
                Horário Tarde: (15:00 as 17:00h)<br>
                Horário Noite: (18:00 as 20:00h)</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-calendar"></i>
            <h4 class="title"><a href="https://docs.google.com/forms/d/e/1FAIpQLSevKPRI8vRU4YIW9VgOHke8NfQt_shnHj3pKqh0LD8mgPFWUw/viewform?usp=pp_url" target="_blank">Prática de Injetáveis</a></h4>
            <p class="description">
              Turma - 167 (MANHÃ/TARDE)<br>
              Carga horária: 40 horas<br>
              Turma no Final de Semana<br>
              Encontros: Sábados e Domingos<br>
              Sábado (08:30 as 17:00h)<br>
              Domingo (08:30 as 12:00h)<br></p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-calendar"></i>
            <h4 class="title"><a href="https://docs.google.com/forms/d/e/1FAIpQLSevKPRI8vRU4YIW9VgOHke8NfQt_shnHj3pKqh0LD8mgPFWUw/viewform?usp=pp_url" target="_blank">Prática de Injetáveis</a></h4>
            <p class="description">
                Turma - 166 (MANHÃ)<br>
                Carga horária: 40 horas<br>
                Turma Durante a Semana<br>
                Encontros: Segunda a Sexta-feira<br>
                Horário: (08:30 as 12:00h)</p>
          </div>

        </div>
      </div>
    </section><!-- Fim da agenda -->

    <!--==========================
      Quem Somos
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Quem Somos</h3>
          <p>O curso Ana Nery surgiu da visão de duas enfermeiras e um técnico em enfermagem em 2007, sobre o mercado de trabalho relacionado à educação continuada dos profissionais e estudantes de enfermagem, também sobre a necessidade de melhorar a capacitação de pessoas que se dispõe em acompanhar clientes hospitalizados, no turismo e lazer, cuidadores de idosos e outras necessidades. </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/missao.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nossa Missão</a></h2>
              <p>Possibilitar ao estudante uma educação que integre a tríplice dimensão humana:Do Pensar, do Fazer e do Ser, por meio do acesso ao conhecimento, garantindo o desenvolvimento de suas aptidões, tornando-o um cidadão capaz de criar e inovar diante das constantes transformações do mundo do trabalho.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nosso Objetivo</a></h2>
              <p>
                Atuar por meio de cursos e programas de:Formação inicial e continuada de trabalhadores, com capacitação, aperfeiçoamento e atualização em todos os níveis de escolaridade, visando o desenvolvimento de aptidões para a vida produtiva e social.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nossa Visão</a></h2>
              <p>
                Educação profissional;<br>Habilitação profissional;<br>
                Ser um centro diferenciado na capacitação de profissionais tornando-os mais fortalecidos, seguros, competentes e criativos e que respondam às necessidades do mercado de trabalho.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Fim quem somos-->

    <!--==========================
      Serviços
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>CURSOS</h3>
          <p>Seu sucesso depende de sua capacitação</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="cuidador.html">CUIDADOR DE IDOSOS</a></h4>
            <p class="description">CARGA HORÁRIA - 100 horas/aula (80 horas/teóricas e 20 horas/prática)Horário das aulas: (Terças e Quintas) de 18:00 as 20:00hs</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="pratica_injetaveis.html">PRÁTICA DE INJETÁVEIS</a></h4>
            <p class="description">CARGA HORÁRIA - 40 horas/aula </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="">TRATAMENTO DE FERIDAS E CURATIVOS</a></h4>
            <p class="description">CARGA HORÁRIA - 20 horas/aula</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="">CAPACITAÇÃO EM SERVIÇO DE VACINAÇÃO EM FARMÁCIAS</a></h4>
            <p class="description">CARGA HORÁRIA - 40 horas/aula (30 horas/teóricas e 10 horas/prática) </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="">CÁLCULO DE MEDICAMENTOS</a></h4>
            <p class="description">CARGA HORÁRIA - 20 horas/aula (Teóricas e práticas)</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="">MANEJO DE SONDAS - NASOGÁSTRICA E VESICAL</a></h4>
            <p class="description">CARGA HORÁRIA - 20 horas/aula</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
            <h4 class="title"><a href="">PRIMEIROS SOCORROS IN COMPANY</a></h4>
            <p class="description">CARGA HORÁRIA - 20 horas/aula</p>
          </div>

        </div>

      </div>
    </section><!-- fim serviços -->

    <!--==========================
      Localização
    ============================-->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3><img class="img" src="img/img_loc.png" width="100" height="80">Localização</h3>
            <h2>Rua Solon Pinheiro, 1580 - José Bonifacio, Fortaleza  - (85) 985071080</h2>
            <h3><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.3014117993866!2d-38.53337508525576!3d-3.744375097275833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74855b1a0f7bf%3A0xd9289184c67d8620!2sCurso+Ana+Nery!5e0!3m2!1spt-BR!2sbr!4v1562153790943!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></h3>
          </div>
        </div>
      </div>
    </section><!--fim localização-->


    <!--==========================
      Galeria
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Galeria</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todas as fotos</li>
              <li data-filter=".filter-app">Galeria de Cursos</li>
              <li data-filter=".filter-card">Equipe</li>
              <li data-filter=".filter-web">Estrutura</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!--#galeria -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Avaliações</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Sandra Martins A-ha</h3>
            <h4>Gerencia - Servelar Cuidadores</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              O melhor do Ceará!!!
              O sucesso depende da capacitação e o curso Ana Nery transforma um profissional em um missionário da saúde!!!
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Nayane Falcão</h3>
            <h4>Técnica em Enfermagem</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Todos os curso fornecidos pela instuição são ótimos, professores maravilhosos, você aprendi mesmo.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>René Rodriguez</h3>
            <h4>Técnico em enfermagem</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              IMPECÁVEL! Desde a simpatia, profissionalismo, didática, paciência, atenção, responsabilidade e organização desta facilitadora incrível SÔNIA BARROS, de quem virei fã, até a disponibilidade de todos os demais! Vc chega e está tudo ajeitado te esperando. Olhe, quero fazer vários outros!
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>Carla Renata</h3>
            <h4>Estuda Especialização em Enfermagem </h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Curso excelente, que une a teoria e a prática. A professora Sônia é uma otima profissional. Vale muito a pena, fiz Prática de Injetáveis, o de Tratamento de Feridas e ja quero fazer o de sondas tambem. Super Recomendo!
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>Renata Lucia Silva</h3>
            <h4>Cuidadora de Idosos</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Tudo que sei eu devo ao Curso Ana Nery, pois tive uma excelente professora.
              Obrigada Dra Sônia pelo meu aprendizado.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

   <!--==========================
      Contato
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Fale Conosco</h3>
          <p>Envie sua dúvida ou alguma sugestão para novos cursos</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <a href="https://www.google.com.br/maps/place/Curso+Ana+Nery/@-3.7443751,-38.5333751,17z/data=!3m1!4b1!4m5!3m4!1s0x7c74855b1a0f7bf:0xd9289184c67d8620!8m2!3d-3.7443751!4d-38.5311864"><i class="ion-ios-location-outline"></i></a>
              <h3>Localização</h3>
              <address>Rua Solon Pinheiro, 1580 - José Bonifácio</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Telefone</h3>
              <p><a href="telefone">(85) 98507-1080</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="email">curso@cursoananery.com.br</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Sua mensagem foi encaminhada, aguarde nosso retorno.</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Digite seu nome" data-rule="minlen:4" data-msg="No mínimo 4 letras" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu E-mail" data-rule="email" data-msg="Entrar com e-mail válido" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Título" data-rule="minlen:4" data-msg="Informe o objetivo do contato (No mínimo 8 caracteres)"/>
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Preencha o campo de mensagem para o envio." placeholder="Escreva a mensagem"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar mensagem</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <p> <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5585999561080"><img src="img/clique-zap.png" width="250" height="90"></a></p>

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Menu</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Início</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">Quem Somos</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#services">Serviços</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#call-to-action">Localização</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Galeria</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contato</h4>
            <p>
              Rua Solon Pinheiro, 1580 <br>
              José Bonifácio<br>
              Fortaleza <br>
              <strong>Telefone:</strong> (85) 98507-1080<br>
              <strong>Email:</strong> curso@cursoananery.com.br<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/cursoananery" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/CursoAnaNery.Fortaleza/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/cursoananery/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
              <!--a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a-->
              <!--a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a-->
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Acompanhe-nos</h4>
            <p>Cadastre seu e-mail para acompanhar nossos cursos e receber notificações de novas turmas.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>HD3 Desenvolvimentos</strong>.
      </div>
      <div class="credits">
        Todos os direitos reservados a <a href="http://hd3desenvolvimento-com-br.umbler.net/" target="_blank">HD3</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
